.card-label {
    @apply text-gray-500 text-sm;
}

.card-value {
    @apply text-lg;
}

.bank-list {
    li {
        @apply flex items-center justify-between;
        input {
            width: 80%;
            @apply text-left;
        }
    }
}

.anim-fade-once {
    animation: fade 1s 1;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}