<nz-page-header class="site-page-header" nzSubtitle="مانده" [nzTitle]="remainingTemp"></nz-page-header>

<ul class="bank-list" *ngIf="banks | async as banks; else loading">
  <li *ngFor="let bank of banks">
    {{bank.label}}:
    <nz-input-group [nzPrefix]="prefixTemplateInfo" class="w-4/5">
      <input nz-input nzBorderless placeholder="0" [(ngModel)]="bank.balance" (blur)="onBankChange(bank)"
        class="mr-auto " />
    </nz-input-group>
  </li>
</ul>

<div class="flex flex-col gap-4 mt-6" *ngIf="transactions | async as transactions; else loading">
  <ng-container *ngIf="transactions.length; else empty">
    <article *ngFor="let item of transactions" [ngClass]="{'opacity-50': item.isPaid}"
      class="flex flex-col gap-2 p-4 relative rounded-md bg-white shadow last:mb-10">
      <div>
        <p class="card-value">{{ item.date | localDate }}</p>
      </div>

      <div>
        <span class="card-label">شرح</span>
        <p class="card-value font-bold">{{ item.description }}</p>
      </div>
      <div>
        <span class="card-label">مبلغ</span>
        <p class="card-value">{{ item.amount | number }}</p>
      </div>


      <div class="absolute top-4 left-4 bg-white">
        <label nz-checkbox [(ngModel)]="item.isPaid" (ngModelChange)="onPaidChange(item)" class="select-none">پرداخت
          شده</label>
      </div>
      <div class="absolute bottom-4 left-4 bg-white">
        <button (click)="editItem(item)" class="text-white bg-slate-400 rounded px-2 py-1 text-xs">ویرایش</button>
      </div>
    </article>
  </ng-container>
</div>
<button routerLink="add"
  class="fixed shadow-md bottom-10 left-10 w-[52px] h-[52px]  text-center text-4xl rounded-full bg-emerald-500 text-white">
  <span class="relative top-1">+</span>
</button>

<ng-template #remainingTemp>
  <bdi>{{ (remaining | async) | number }} تومان</bdi>
</ng-template>

<ng-template #prefixTemplateInfo>
  <span nz-icon nzType="loading"></span>
  <!-- <span nz-icon nzType="check-circle"></span> -->
</ng-template>

<ng-template #loading>
  <div class="p-4 text-center">
    در حال بارگذاری...
  </div>
</ng-template>

<ng-template #empty>
  <div class="p-4 text-center">
    موردی یافت نشد.
  </div>
</ng-template>